body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
}

header {
    background: #1e293b;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #38bdf8;
    margin: 0 10px;
    text-decoration: none;
}

.card {
    background: #1e293b;
    margin: 30px auto;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background: #38bdf8;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
}